<div class="app">
  <div class="wrapper">
   <div class="left-side">
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>1</p></div>
    <div><p>2</p></div>
  
  </div>



  
  </div>
  <div class="overlay-app"></div>
 </div>